@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Tag-it</title>
    <link href="~/Content/CSS/jquery.tagit.css" rel="stylesheet" />
    <link href="~/Content/CSS/tagit.ui-zendesk.css" rel="stylesheet" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="~/Scripts/tag-it.js"></script>
</head>
<body>
<div>
    <ul id="tagit-field">
        <li>Click my label</li>
        <li>Remove me</li>
    </ul>
</div>
<script type="text/javascript">
    $('#tagit-field').tagit();
</script>
</body>
</html>